.git
.github
.next
**/.next
node_modules
**/node_modules
vendor
**/vendor
.env
.env.*
!.env.example
deploy/.env.prod
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
mobile-expo
docs
